asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
bleach==6.0.0
blinker==1.4
branca==0.6.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
comm==0.1.3
command-not-found==0.3
contourpy==1.1.0
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==1.2.0
Fiona==1.9.4.post1
folium==0.14.0
fonttools==4.42.0
future==0.18.3
geopandas==0.13.2
h11==0.14.0
httplib2==0.20.2
hyperopt==0.2.7
idna==3.4
importlib-metadata==4.6.4
ipykernel==6.25.0
ipython==8.14.0
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.3.0
jupyter_core==5.3.1
kaggle==1.5.16
keyring==23.5.0
kiwisolver==1.4.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mlxtend==0.22.0
more-itertools==8.10.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
numpy==1.21.6
oauthlib==3.2.0
openpyxl==3.0.10
outcome==1.2.0
packaging==23.1
pandas==1.5.3
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.9.1
plotly==5.16.0
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==12.0.1
Pygments==2.15.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
pyproj==3.6.0
PySocks==1.7.1
pyspark==3.4.1
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
PyYAML==5.4.1
pyzmq==25.1.0
requests==2.31.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
SecretStorage==3.3.1
selenium==4.11.2
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
stack-data==0.6.2
statsmodels==0.14.0
systemd-python==234
tenacity==8.2.3
text-unidecode==1.3
threadpoolctl==3.2.0
tornado==6.3.2
tqdm==4.66.1
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.10.3
tzdata==2023.3
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.4
wadllib==1.3.6
wcwidth==0.2.6
webencodings==0.5.1
wsproto==1.2.0
xgboost==1.7.6
zipp==1.0.0
